.fade-grow-enter {
  opacity: 0;
  transform: scale(0.95);
  max-height: 0;
  overflow: hidden;
}
.fade-grow-enter-active {
  opacity: 1;
  transform: scale(1);
  max-height: 1000px;
  transition: opacity 800ms ease, transform 800ms ease, max-height 800ms ease;
}
.fade-grow-exit {
  opacity: 1;
  transform: scale(1);
  max-height: 1000px;
}
.fade-grow-exit-active {
  opacity: 0;
  transform: scale(0.95);
  max-height: 0;
  overflow: hidden;
  transition: opacity 800ms ease, transform 800ms ease, max-height 800ms ease;
}
